* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Droid Sans", sans-serif;

}

body {
    background-image: url("images/background.jpg");
    background-size: cover;
}

.navbar {
    border-radius: 2px;
    background-image: linear-gradient(to bottom, black 5%, transparent );
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    z-index: 999;
    top: 0;
    position: sticky;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    z-index: 1;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 50px;

}

#navbar__logo {
    font-size: 2rem;
    font-family: "Droid Serif", sans-serif;
    align-self: center;
    background-image: linear-gradient(to top, white, deepskyblue);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#navbar__logo:hover {
    transition: all 0.4s ease;
    background-image: linear-gradient(to top, deepskyblue, white);
}

.navbar__btn {
    display: flex;
    justify-content: center;
    font-family: "Droid Serif", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    list-style-type: none;
}

.button {
    display: flex;
    background-image: linear-gradient(to top, white, deepskyblue);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px 10px;
    outline: none;
    border: white solid 2px;
    border-radius: 25px;
}

.button:hover {
    background: grey;
    -webkit-text-fill-color: white;
    text-decoration: none;
}

.top-box {
    height: 50%;
    display: flex;
}

.about-me {
    border-radius: 15px;
    padding-top: 75px;
    padding-left: 15%;
    position: relative;
    color: whitesmoke;
    text-align: center;
    align-self: start;
    width: 45%;
    height: 50%;
}

.about-me-text {
    border: 3px solid white;
    border-radius: 15px;
    padding: 5px 5px;
}

.about-me-head {
    background-image: linear-gradient(to top, white, deepskyblue);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.map {
    width: 50%;
    height: 10%;
    scale: 0.75;
    border-radius: 10px;
    overflow: hidden;
}

.mid-box {
    border-radius: 15px;
    padding-left: 15%;
    text-align: center;
    height: 50%;
    width: 50%;
}

.skills {
    margin-top: -100%;
    margin-right: 30%;
    padding-left: 20%;
    color: whitesmoke;
    align-self: start;
}

.skills-head {
    background-image: linear-gradient(to top, white, deepskyblue);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills-boxes {
    border: 3px solid white;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
}

.oop {
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 1;
    grid-column-end: 2;
}

.linux {
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 2;
    grid-column-end: 3;
}

.java {
    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 3;
    grid-column-end: 4;
}

.python {
    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start: 1;
    grid-column-end: 2;
}

.c {
    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start: 2;
    grid-column-end: 3;
}

.pm {
    grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start: 3;
    grid-column-end: 4;
}